

/* Importação do Tailwind CSS */
@tailwind base; /* Base styles from Tailwind CSS */
@tailwind components; /* Component styles from Tailwind CSS */
@tailwind utilities; /* Utility classes from Tailwind CSS */


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body.loaded {
    overflow: auto;
  }
