

/* Importação do Tailwind CSS */
@tailwind base; /* Base styles from Tailwind CSS */
@tailwind components; /* Component styles from Tailwind CSS */
@tailwind utilities; /* Utility classes from Tailwind CSS */

/* Estilos personalizados podem ser adicionados aqui */
/* resources/css/app.css */

html {
    scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

*{
  box-sizing: border-box;
}

body.loaded {
  overflow: auto;
}
